@import url('https://fonts.googleapis.com/css2?family=Protest+Guerrilla&display=swap');

*
{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body
{
    background: rgb(238,174,202);
    background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);
    display: flex;
    /* align-items: center; */
    /* justify-content: center; */
}

#elements
{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 250px;
    /* padding-top: 100px; */
    width: 100%;
}

#Buttons
{
    /* background-color: red; */
    width: 100%;
    height: 200px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding-left: 80px;
    padding-right: 80px;
}

#button
{
    background-color: F05A7E;
    width: 150px;
    height: 150px;
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 40px;
    border-radius: 15%;
    font-family: "Protest Guerrilla", sans-serif;
    font-weight: 400;
    font-style: normal;
}

#intro
{
    display: flex;
    /* justify-content: center; */
    height: 100px;
    font-size: 70px;
    color: 125B9A;
    font-family: "Protest Guerrilla", sans-serif;
    font-weight: 400;
    font-style: normal;
}